//- product-details.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Product Details
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    style.
      /* Estilos personalizados si es necesario */
  body
    .container
      h1 Detalles del Producto
      .product-details
        img(src="/images/000.jpeg", alt="Product 1")
        h2 Harina purezza 000
        p Descripción del producto...
        p Precio: $XX.XX
        p Local: Nombre del local
        //- Otros detalles del producto
