doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Registro de usuario - Food Saver
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css')
    style.
      body {
        background: url('/images/fondo_registro.jpg') no-repeat center center fixed;
        background-size: cover;
      }
      .header {
        background-color: rgba(76, 175, 80, 1);
        color: black;
        padding: 0.01rem 0;
        text-align: center;
      }
      .form-container {
        max-width: 600px;
        margin: 1rem auto; /* Cambiado de 2rem a 1rem para reducir el espacio superior */
        padding: 2rem;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        background-color: rgba(255, 255, 255, 0.9); /* Fondo semitransparente */
      }
      .btn-google {
        background-color: #D62D20;
        color: white;
        border: 1px solid #D62D20;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s, border-color 0.3s;
      }
      .btn-google i {
        color: white;
        margin-right: 8px;
      }
      .btn-google:hover, .btn-google:focus {
        background-color: #E74B37;
        border-color: #E74B37;
        color: white;
      }
      .btn-facebook {
        background-color: #4267B2;
        color: white;
        border: 1px solid #4267B2;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s, border-color 0.3s;
      }
      .btn-facebook i {
        color: white;
        margin-right: 8px;
      }
      .btn-facebook:hover, .btn-facebook:focus {
        background-color: #5A7ABD;
        border-color: #5A7ABD;
        color: white;
      }
      .text-grey {
        color: #757575;
      }
      .password-container {
        position: relative;
      }
      .password-container input {
        padding-right: 40px; /* espacio para el icono del ojo */
      }
      .password-container .toggle-password {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
      }
  body
    .header
      h2 Crear una cuenta - Food Saver

    .form-container
      form(action='/registerUser', method='POST')
        .form-group
          label(for='email') Correo Electrónico
          input#email.form-control(type='email', name='email', placeholder='Correo Electrónico', value=email, required)

        .form-group
          label(for='username') Nombre de Usuario
          input#username.form-control(type='text', name='username', placeholder='Nombre de Usuario', value=username, required minlength='3')
          small.text-grey 3 caracteres mínimo

        .form-row
          .form-group.col-md-6
            label(for='firstName') Nombre
            input#firstName.form-control(type='text', name='firstName', placeholder='Nombre', value=firstName, required)
          
          .form-group.col-md-6
            label(for='lastName') Apellido
            input#lastName.form-control(type='text', name='lastName', placeholder='Apellido', value=lastName, required)

        .form-group.password-container
          label(for='password') Contraseña
          input#password.form-control(type='password', name='password', placeholder='Contraseña', required minlength='6')
          small.text-grey 6 caracteres mínimo
          i.bi.bi-eye-slash-fill.toggle-password
        
        .form-group
          label(for='dateOfBirth') Fecha de Nacimiento
          input#dateOfBirth.form-control(type='date', name='dateOfBirth')

        button.btn.btn-success.btn-block(type='submit') Registrarse

      br

      if !hideOAuthButtons
        .text-center
          p.text-grey —— o continúa con ——
          a.btn.btn-google.btn-block(href='/auth/google')
            i.fa.fa-google
            |  Regístrese con Google
          a.btn.btn-facebook.btn-block(href='/auth/facebook')
            i.fa.fa-facebook
            |  Regístrese con Facebook
    
      hr

      p.text-center.text-grey
        | ¿Ya tienes una cuenta? 
        a.text-grey-link(href='/') Iniciar sesión aquí

    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
    script.
      document.querySelector('.toggle-password').addEventListener('click', function (e) {
        const passwordInput = document.querySelector('#password');
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        this.classList.toggle('bi-eye-fill');
        this.classList.toggle('bi-eye-slash-fill');
      });
